/* global stuff */
* {
    box-sizing:border-box;
    font-family: 'Exo 2', sans-serif;
  }
:root{
  --creeper: #0fb441;
  --white: #ffffff;
  --lightgrayTranslucent: #b3b3b365;
  --gray: #9e9e9e;
  --shadow:  rgb(27, 27, 27);
}


/* base style */
body {
    background-color: black;
}
.container{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner{
  background-image: url(img/main/banner.png);
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: 100%;
}
.banner-size{
  width: 100%; /* max width */
  opacity: 0;  /* make it transparent */
}

footer {
  color: var(--gray);
  font-size: 80%;
}


/* title style */
.title {
  max-width: 50%;
  position: absolute;
}
img.title{
  -webkit-filter: drop-shadow(5px 5px 5px var(--shadow));
  filter: drop-shadow(5px 5px 5px var(--shadow));
}

/* button style */
.btn{
  position: relative;
  display: inline-block;
  border: 2px solid var(--creeper);
  padding: 20px 40px;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--creeper);
  transition: color 0.5s, background 0.5s;
  border-radius: 10px;
}
.btn:hover{
  color: var(--white);
  background-color: transparent;
}
.btn:active{
  box-shadow: inset 0 0 20px var(--white);
}


/* images responsive style */
.gif-documentation{
  max-width: 70%;
  display: none;
}
.img-documentation{
  max-width: 70%;
}


/* division responsive style */
.div-left{
    float:left;
    /* background-color: beige; */
    padding:20px;
    width:33%;
}

.div-center{
    float:left;
    /* background-color: rgb(161, 161, 161); */
    padding:20px;
    width:33%;
}

.div-right{
    float:left;
    /* background-color: rgb(106, 160, 211); */
    padding:20px;
    width:33%;
}

@media screen and (max-width:767px) {
  .div-left, .div-center, .div-right {
    width:100%;
  }
  .title {
    max-width: 100%;
  }
  .banner{
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  footer {
    font-size: 70%;
  }
}

@media screen and (width:1024px) {
  .btn {
    padding: 20px 80px;
  }
  /* .banner {
    padding-bottom: 200px;
  } */
}

/* @media screen and (width:1440px) {
  .banner {
    padding-bottom: 300px;
  }
}

@media screen and (width:2560px) {
  .banner {
    padding-bottom: 600px;
  }
} */