/* styles destinated only to the subpages generated */

.title{
    color: white;
    font-size: 3em;
}

.warning{
    color: red;
    background-color:rgba(133, 176, 216, 0.438);
}

.code{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(174, 200, 212);
    padding: 10px;
}

#toFill{
    color: white;
}

.common-img{
    max-width: 80%;
}

@media screen and (max-width:767px) {
    .common-img{
        max-width: 100%;
    }
  }
